{% extends "_layout.html" %}

{% block title %}Лист обследований{% endblock %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="wards.html">Палаты</a></li>
<li class="breadcrumb-item"><a href="patients.html">{{ record.ward }}</a></li>
<li class="breadcrumb-item"><a href="patient.html">{{ record.patient }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Лист обследований</li>
{% endblock %}

{% block content %}
<main>

    <!--Modal examination-->
    <div class="modal fade" id="examModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="examModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="examModalLabel">Добавить обследование</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Название" aria-label="Обследование">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" onclick="addExam()"
                        data-bs-dismiss="modal">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <!--End of modal-->

    <!--Examination-->
    <div class="container">
        <div class="row">
            <div class="col-1">
                <!--Plus-->
                <a data-bs-toggle="modal" href="#examModal" role="button" aria-controls="examModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </a>
            </div>
            <div class="col-11">
                <!--Table-->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Препарат</th>
                            <th scope="col">Дата назначения</th>
                            <th scope="col">Дата исполнения</th>
                            <th scope="col">Результат</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ex in examinations %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ ex.name }}</td>
                            <td>{{ ex.date_1 }}</td>
                            <td>{{ ex.date_2 }}</td>
                            <td><a href="{{ ex.result }}" target="_blank">Посмотреть</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--End of examination-->

</main>


<script>
    //Adding examination
    function addExam() {

    };
</script>
{% endblock %}