<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Пациенты - Рабочее место врача</title>
    <link type="image/x-icon" rel="shortcut icon" href="../img/favicon.ico" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <style>
        .py-3 {
            padding-bottom: 0 !important;
        }

        ::-moz-focus-outer,
        ::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

        a,
        a:active,
        a:focus {
            outline: none;
        }
    </style>
</head>

<body>
    <!--Navbar with username-->
    <nav class="py-2 bg-dark text-white">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><strong class="navbar-brand d-flex align-items-center">Имя
                        пользователя</strong></li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="index.html" class="nav-link text-white px-2">Выйти</a></li>
            </ul>
        </div>
    </nav>
    <!--End of navbar with username-->

    <!--Navbar with breadcrumb and messages-->
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <nav aria-label="breadcrumb"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="wards.html">Палаты</a></li>
                    <li class="breadcrumb-item"><a href="patients.html">Палата 3</a></li>
                    <li class="breadcrumb-item"><a href="patient.html">Иванов Петр Михайлович</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Лист назначений</li>
                </ol>
            </nav>
            <div style="z-index:3; position:relative;">
                <a class="stretched-link" data-bs-toggle="offcanvas" href="#offcanvasWithBackdrop" role="button"
                    aria-controls="offcanvasWithBackdrop"></a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                </svg>
            </div>
        </div>
    </header>
    <!--End of navbar with breadcrumb-->

    <!--Sidebar messages-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop"
        aria-labelledby="offcanvasWithBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Offcanvas with backdrop</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>.....</p>
        </div>
    </div>
    <!--End of sidebar messages-->
    <main>

        <!--Modal examination-->
        <div class="modal fade" id="examModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="examModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="examModalLabel">Добавить обследование</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Название" aria-label="Обследование">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary" onclick="addExam()"
                            data-bs-dismiss="modal">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
        <!--End of modal-->

        <!--Examination-->
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <!--Plus-->
                    <a data-bs-toggle="modal" href="#examModal" role="button" aria-controls="examModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </a>
                </div>
                <div class="col-11">
                    <!--Table-->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Препарат</th>
                                <th scope="col">Дата назначения</th>
                                <th scope="col">Дата исполнения</th>
                                <th scope="col">Результат</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>ОАК</td>
                                <td>12/10/2021</td>
                                <td>13/10/2021</td>
                                <td><a href="../img/favicon.ico" target="_blank">Посмотреть</a></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>ОАМ</td>
                                <td>12/10/2021</td>
                                <td>13/10/2021</td>
                                <td><a href="/Users/daraanisimova/Downloads/abstract.pdf" target="_blank">Посмотреть</a>
                                </td>
                            </tr>
                            <!--<tr>
                                <th scope="row">3</th>
                                <td>Биопсия</td>
                                <td>12/10/2021</td>
                                <td>13/10/2021</td>
                                <td><a href="http://docs.google.com/viewer?url={URL документа}&embedded=true" target="_blank">Посмотреть</a></td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End of examination-->

    </main>


    <script>
        //Adding examination
        function addExam() {

        };
    </script>
</body>

</html>