{% extends 'mypatients/_layout.html' %}
{% load static %}

{% block title %}Лист наблюдений{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'wards' %}">Палаты</a></li>
<li class="breadcrumb-item"><a href="{% url 'records_in_ward' record.ward %}">Палата {{ record.ward }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'record' record.ward record.pk %}">{{ record.patient.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Лист наблюдений</li>
{% endblock %}

{% block content %}
<main>

    <!--Modal temperature-->
    <div class="modal fade" id="tempModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="tempModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"></div>
        </div>
    </div>
    <!--End of modal-->

    <!--Modal blood pressure-->
    <div class="modal fade" id="presModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="presModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"></div>
        </div>
    </div>
    <!--End of modal-->

    <!--Temperature-->
    <div class="container">
        <div class="row">
            <div class="col-1">
                <!--Plus temperature-->
                <a class="js-create-temp" data-bs-toggle="modal" href="#tempModal" role="button"
                    aria-controls="tempModal" data-url="{% url 'temp_create' record.ward record.pk %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </a>
            </div>
            <div class="col-11">
                <!--Temperature chart-->
                <canvas class="my-4 w-100" id="myChart" height="380"
                    data-url="{% url 'temp_get' record.ward record.pk %}"></canvas>
            </div>
        </div>
    </div>
    <!--End of temperature-->

    <!--Blood pressure-->
    <div class="container">
        <div class="row">
            <div class="col-1">
                <!--Plus blood pressure-->
                <a class="js-create-bpp" data-bs-toggle="modal" href="#presModal" role="button"
                    aria-controls="presModal" data-url="{% url 'bpp_create' record.ward record.pk %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </a>
            </div>
            <div class="col-11">
                <!--Blood pressure table-->
                <div class="table-responsive">
                    <table class="table table-hover" id="bpp-table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Время</th>
                                <th scope="col">Давление</th>
                                <th scope="col">Пульс</th>
                                <th scope="col">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% include 'mypatients/observation_partials/partial_bpp_list.html' %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--End of blood pressure-->

</main>
<!--Script for chart-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ru.min.js"
    integrity="sha512-+yvkALwyeQtsLyR3mImw8ie79H9GcXkknm/babRovVSTe04osQxiohc1ukHkBCIKQ9y97TAf2+17MxkIimZOdw=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>

<script>
    $(function () {
        //Temperature
        var getChart = function () {
            var $tempChart = $("#myChart");
            $.ajax({
                url: $tempChart.data("url"),
                success: function (data) {
                    var ctx = $tempChart[0].getContext("2d");
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                data: data.data,
                                lineTension: 0.1,
                                borderColor: '#007bff',
                                borderWidth: 4,
                                pointBackgroundColor: '#007bff'
                            }]
                        },
                        options: {
                            legend: false,
                            scales: {
                                xAxes: [{
                                    type: 'time',
                                    ticks: {
                                        suggestedMin: moment(),
                                        suggestedMax: moment().add(14, 'days'),
                                        source: 'data'
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        suggestedMin: 35.0,
                                        suggestedMax: 42.0
                                    }
                                }]
                            }
                        }
                    });

                    document.getElementById("myChart").onclick = function (evt) {
                        var firstPoint = myChart.getElementAtEvent(evt)[0];
                        if (firstPoint) {
                            var label = myChart.data.labels[firstPoint._index];
                            var url_mask = "{% url 'temp_update_get' record.ward record.pk 'arg' %}".replace('arg', label);
                            $.ajax({
                                url: url_mask,
                                type: 'get',
                                dataType: 'json',
                                beforeSend: function () {
                                    $("#tempModal").modal("show");
                                },
                                success: function (data) {
                                    $("#tempModal .modal-dialog .modal-content").html(data.html_form);
                                }
                            });
                        }
                    }
                }
            });
        };

        $(getChart);

        var loadFormForTemp = function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#tempModal").modal("show");
                },
                success: function (data) {
                    $("#tempModal .modal-dialog .modal-content").html(data.html_form);
                }
            });
        };

        var loadFormForTempDelete = function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#tempModal").modal("hide");
                    $("#presModal").modal("show");
                },
                success: function (data) {
                    $("#presModal .modal-dialog .modal-content").html(data.html_form);
                }
            });
        };

        var saveFormForTemp = function () {
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function (data) {
                    if (data.form_is_valid) {
                        $(getChart);
                        $("#tempModal").modal("hide");
                        $("#presModal").modal("hide");
                    }
                    else {
                        $("#tempModal .modal-dialog .modal-content").html(data.html_form);
                    }
                }
            });
            return false;
        };

        // Adding temperature
        $(".js-create-temp").click(loadFormForTemp);
        $("#tempModal").on("submit", ".js-temp-create-form", saveFormForTemp);

        //Updating temperature
        $("#tempModal").on("submit", ".js-temp-update-form", saveFormForTemp);
        //Deleting temperature
        $("#tempModal").on("click", ".js-delete-temp", loadFormForTempDelete);
        $("#presModal").on("submit", ".js-temp-delete-form", saveFormForTemp);

        //Blood pressure
        var loadFormForBPP = function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#presModal").modal("show");
                },
                success: function (data) {
                    $("#presModal .modal-dialog .modal-content").html(data.html_form);
                }
            });
        };

        var saveFormForBPP = function () {
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function (data) {
                    if (data.form_is_valid) {
                        $("#bpp-table tbody").html(data.html_bpp_list);
                        $("#presModal").modal("hide");
                    }
                    else {
                        $("#presModal .modal-dialog .modal-content").html(data.html_form);
                    }
                }
            });
            return false;
        };

        // Adding blood pressure and puls
        $(".js-create-bpp").click(loadFormForBPP);
        $("#presModal").on("submit", ".js-bpp-create-form", saveFormForBPP);

        //Updating blood pressure and puls
        $("#bpp-table").on("click", ".js-update-bpp", loadFormForBPP);
        $("#presModal").on("submit", ".js-bpp-update-form", saveFormForBPP);

        //Deleting blood pressure and puls
        $("#bpp-table").on("click", ".js-delete-bpp", loadFormForBPP);
        $("#presModal").on("submit", ".js-bpp-delete-form", saveFormForBPP);
    });
</script>
{% endblock %}