{% extends 'mypatients/_layout.html' %}
{% load static %}

{% block title %}{{ record.patient.name }}{% endblock %}

{% block style %}
.container>.row>.col-4 {
padding-right: 0;
}

.tab-pane {
margin-top: 1rem;
}

form>div {
    display: initial !important;
}
{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'wards' %}">Палаты</a></li>
<li class="breadcrumb-item"><a href="{% url 'records_in_ward' record.ward %}">Палата {{ record.ward }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ record.patient.name }}</li>
{% endblock %}

{% block content %}
<main>
    <!--Top part-->
    <div class="container">
        <div class="row justify-content-between">
            <!--Right part-->
            <div class="col-8">
                <nav class="nav flex-column">
                    <h4 class="nav-link">{{ record.patient.name }}&nbsp;&nbsp;&nbsp;
                        <a href="#">
                            <!--Word export-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-file-earmark-word" viewBox="0 0 16 16">
                                <path
                                    d="M5.485 6.879a.5.5 0 1 0-.97.242l1.5 6a.5.5 0 0 0 .967.01L8 9.402l1.018 3.73a.5.5 0 0 0 .967-.01l1.5-6a.5.5 0 0 0-.97-.242l-1.036 4.144-.997-3.655a.5.5 0 0 0-.964 0l-.997 3.655L5.485 6.88z" />
                                <path
                                    d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                            </svg>
                        </a>
                    </h4>
                    <a class="nav-link" href="#">
                        <!--Plus-->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                        &nbsp;&nbsp;&nbsp;Добавить дневник
                    </a>
                    <a class="nav-link" href="#">
                        <!--Upload-->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-upload" viewBox="0 0 16 16">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                        </svg>
                        &nbsp;&nbsp;&nbsp;Создать выписной эпикриз
                    </a>
                </nav>
            </div>
            <!--End of right part-->

            <!--Left part-->
            <div class="col-4">
                <nav class="nav flex-column float-end">
                    <a class="nav-link text-end" href="{% url 'examination' record.ward record.pk %}">Лист обследований</a>
                    <a class="nav-link text-end" href="{% url 'observation' record.ward record.pk %}">Лист наблюдений</a>
                    <a class="nav-link text-end" href="{% url 'prescription' record.ward record.pk %}">Лист назначений</a>
                </nav>
            </div>
            <!--End of left part-->

        </div>
    </div>
    <!--End of top part-->

    <!--Bottom part-->
    <div class="container" style="margin-top: 1rem; margin-bottom: 2rem;">
        <!--Links-->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link" id="nav-passport-data-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-passport-data" type="button" role="tab" aria-controls="nav-passport-data"
                    aria-selected="false">Паспортные
                    данные</button>
                <button class="nav-link" id="nav-admission-data-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-admission-data" type="button" role="tab" aria-controls="nav-admission-data"
                    aria-selected="false">Данные при
                    поступлении</button>
                <button class="nav-link" id="nav-head-insp-tab" data-bs-toggle="tab" data-bs-target="#nav-head-insp"
                    type="button" role="tab" aria-controls="nav-head-insp" aria-selected="false">Осмотр совместно с
                    заведующим</button>
                <button class="nav-link" id="nav-diagnoses-tab" data-bs-toggle="tab" data-bs-target="#nav-diagnoses"
                    type="button" role="tab" aria-controls="nav-diagnoses" aria-selected="false">Диагнозы</button>
                <button class="nav-link active" id="nav-diaries-tab" data-bs-toggle="tab" data-bs-target="#nav-diaries"
                    type="button" role="tab" aria-controls="nav-diaries" aria-selected="true">Дневники</button>
                <button class="nav-link" id="nav-discharge-tab" data-bs-toggle="tab" data-bs-target="#nav-discharge"
                    type="button" role="tab" aria-controls="nav-discharge" aria-selected="false">Выписка</button>
            </div>
        </nav>
        <!--Content-->
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-passport-data" role="tabpanel"
                aria-labelledby="nav-passport-data-tab">
                Паспортные данные
            </div>
            <div class="tab-pane fade" id="nav-admission-data" role="tabpanel" aria-labelledby="nav-admission-data-tab">
                {% include 'mypatients/record_partials/admission_data_form.html' %}
            </div>
            <div class="tab-pane fade" id="nav-head-insp" role="tabpanel" aria-labelledby="nav-head-insp-tab">
                {% include 'mypatients/record_partials/head_insp_form.html' %}
            </div>
            <div class="tab-pane fade" id="nav-diagnoses" role="tabpanel" aria-labelledby="nav-diagnoses-tab">
                Диагнозы
            </div>
            <div class="tab-pane fade show active" id="nav-diaries" role="tabpanel" aria-labelledby="nav-diaries-tab">
                Дневники
            </div>
            <div class="tab-pane fade" id="nav-discharge" role="tabpanel" aria-labelledby="nav-discharge-tab">
                Выписка
            </div>
        </div>
    </div>
    <!--End of bottom part-->
</main>
{% endblock %}