{% extends 'mypatients/_layout.html' %}
{% load static %}

{% block title %}Пациенты{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'wards' %}">Палаты</a></li>
    <li class="breadcrumb-item active" aria-current="page">Палата {{ ward }}</li>
{% endblock %}

{% block content %}
 <!--Main content-->
    <main>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for r in records %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h4 class="card-title">{{ r.patient.name }}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Полных лет: {{ r.patient.birth_date|timeuntil }}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Дата поступления: {{ r.date_time|date:'d.m.Y' }}</h6>
                                <p class="card-text">{{ r.diagnosis }}</p>
                                <a class="stretched-link" href="{% url 'record' ward r.pk %}"></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <!--End of main content-->
{% endblock %}