{% extends 'mypatients/_layout.html' %}
{% load static %}

{% block title %}Лист назначений{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'wards' %}">Палаты</a></li>
<li class="breadcrumb-item"><a href="{% url 'records_in_ward' record.ward %}">Палата {{ record.ward }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'record' record.ward record.pk %}">{{ record.patient.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Лист назначений</li>
{% endblock %}

{% block content %}
<main>
    <!--Modal prescription-->
    <div class="modal fade" id="prModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="prModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"></div>
        </div>
    </div>
    <!--End of modal-->

    <!--Prescription-->
    <div class="container">
        <div class="row">
            <div class="col-1">
                <!--Plus-->
                <a class="js-create-pr" data-bs-toggle="modal" href="#prModal" role="button"
                    aria-controls="prModal" data-url="{% url 'prescription_create' record.ward record.pk %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </a>
            </div>
            <div class="col-11">
                <!--Table-->
                <table class="table table-hover" id="pr-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Препарат</th>
                            <th scope="col">Дата начала приема</th>
                            <th scope="col">Дата окончания приема</th>
                            <th scope="col">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'mypatients/prescription_partials/partial_pr_list.html' %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--End of prescription-->

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(function () {
        var loadForm = function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#prModal").modal("show");
                },
                success: function (data) {
                    $("#prModal .modal-dialog .modal-content").html(data.html_form);
                }
            });
        };

        var saveForm = function () {
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function (data) {
                    if (data.form_is_valid) {
                        $("#pr-table tbody").html(data.html_pr_list);
                        $("#prModal").modal("hide");
                    }
                    else {
                        $("#prModal .modal-dialog .modal-content").html(data.html_form);
                    }
                }
            });
            return false;
        };

        // Adding prescription
        $(".js-create-pr").click(loadForm);
        $("#prModal").on("submit", ".js-prescription-create-form", saveForm);

        //Updating prescription
        $("#pr-table").on("click", ".js-update-pr", loadForm);
        $("#prModal").on("submit", ".js-prescription-update-form", saveForm);

        //Deleting prescription
        $("#pr-table").on("click", ".js-delete-pr", loadForm);
        $("#prModal").on("submit", ".js-prescription-delete-form", saveForm);
    });
</script>
{% endblock %}