{% extends 'mypatients/_layout.html' %}
{% load static %}

{% block title %}Лист назначений{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'wards' %}">Палаты</a></li>
<li class="breadcrumb-item"><a href="{% url 'records_in_ward' record.ward %}">Палата {{ record.ward }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'record' record.ward record.pk %}">{{ record.patient.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Лист назначений</li>
{% endblock %}

{% block content %}
<main>
    <!--Modal prescription-->
    <div class="modal fade" id="prescModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="prescModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="prescModalLabel">Добавить назначение</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Название" aria-label="Препарат">
                    </div>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" placeholder="Дата начала"
                            aria-label="Дата начала приема">
                        <span class="input-group-text">-</span>
                        <input type="date" class="form-control" placeholder="Дата окончания"
                            aria-label="Дата окончания приема">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" onclick="addPresc()"
                        data-bs-dismiss="modal">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <!--End of modal-->

    <!--Prescription-->
    <div class="container">
        <div class="row">
            <div class="col-1">
                <!--Plus-->
                <a data-bs-toggle="modal" href="#prescModal" role="button" aria-controls="prescModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </a>
            </div>
            <div class="col-11">
                <!--Table-->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Препарат</th>
                            <th scope="col">Дата начала приема</th>
                            <th scope="col">Дата окончания приема</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Мелоксикам</td>
                            <td>12/10/2021</td>
                            <td>13/11/2021</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Мелоксикам</td>
                            <td>12/10/2021</td>
                            <td>13/11/2021</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--End of prescription-->

</main>


<script>
    //Adding prescription
    function addPresc() {

    };
</script>
{% endblock %}