{% extends 'mypatients/_layout.html' %}
{% load static %}

{% block title %}Палаты{% endblock %}

{% block style %}
    .card-body {
        font-size: 2rem;
        padding: 1rem 2rem;
    }
{% endblock style %}

{% block breadcrumbs %}
<li class="breadcrumb-item active" aria-current="page">Палаты</li>
{% endblock %}

{% block content %}
    <!--Main content-->
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Палаты</h1>
                </div>
            </div>
        </section>
        <div class="position-relative">
            <div class="position-absolute top-0 start-50 translate-middle-x">
                <div class="row">
                {% for w in wards %}
                    <div class="col-md-auto">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <span class="card-text">{{ w }}</span>
                                <a href="{% url 'records_in_ward' w %}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <!--End of main content-->
{% endblock %}