{% load widget_tweaks %}

<form method="POST" action="{% url 'prescription_create' record.ward record.pk %}" class="js-prescription-create-form">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="prescModalLabel">Добавить назначение</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    {% include 'mypatients/prescription_partials/partial_pr_form.html' %}
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
</form>