<!DOCTYPE html>

{% load static %}

<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - Рабочее место врача</title>
    <link type="image/x-icon" rel="shortcut icon" href="../img/favicon.ico" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <style>
        .py-3 {
            padding-bottom: 0 !important;
        }

        ::-moz-focus-outer,
        ::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

        a,
        a:active,
        a:focus {
            outline: none;
        }

        {% block style %}{% endblock %}
    </style>
</head>

<body>

    <!--Navbar with username-->
    <nav class="py-2 bg-dark text-white">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><strong class="navbar-brand d-flex align-items-center">{{ doctor }}</strong></li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="index.html" class="nav-link text-white px-2">Выйти</a></li>
            </ul>
        </div>
    </nav>
    <!--End of navbar with username-->

    <!--Navbar with breadcrumb and messages-->
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <nav aria-label="breadcrumb"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <ol class="breadcrumb">
                    {% block breadcrumbs %}{% endblock %}
                </ol>
            </nav>
            <div style="z-index:3; position:relative;">
                <a class="stretched-link" data-bs-toggle="offcanvas" href="#offcanvasWithBackdrop" role="button"
                    aria-controls="offcanvasWithBackdrop"></a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                </svg>
                <span
                    class="position-absolute top-0 start-100 translate-middle badge border border-danger rounded-circle bg-danger p-1">
                    <span class="visually-hidden">unread messages</span>
                </span>
            </div>
        </div>
    </header>
    <!--End of navbar with breadcrumb-->

    <!--Sidebar messages-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop"
        aria-labelledby="offcanvasWithBackdropLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">
                {% for n in notifications %}
                    <a href="{{ n.url }}" class="list-group-item list-group-item-action border-0">
                        <div class="d-flex w-100 justify-content-between">
                            <small>{{ n.date_time|timesince }}</small>
                        </div>
                        <p class="mb-1">{{ n.value }}<small
                                class="link-primary">&nbsp;&nbsp;&nbsp;Перейти...</small></p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--End of sidebar messages-->

    {% block content %}{% endblock %}
</body>

</html>