<form method="POST" action="{% url 'temp_delete' record.ward record.pk temp.pk %}" class="js-prescription-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="prModalLabel">Отменить назначение</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="input-group mb-3">
            <p class="lead">Вы уверены, что хотите отменить <strong>{{ prescription.name }}</strong>?</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
        <button type="submit" class="btn btn-primary">Отменить</button>
    </div>
</form>